[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
opencv-contrib-python = "==4.7.0.72"
opencv-python = "==4.8.1.78"
pillow = "==10.1.0"
requests = "==2.31.0"

[dev-packages]

[requires]
python_version = "3.11"
